
.cache
# caches
# code coverage
coverage
# dependencies (bun install)
dist
# dotenv environment variable files
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
# Finder (MacOS) folder config
.hubert-ui-probe
.idea
# IntelliJ based IDEs
*.lcov
_.log
# logs
logs
node_modules
out
# output
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
*.tgz
*.tsbuildinfo
